body {
  width: 100vw;
  overflow-x: hidden;
}
header {
  background-color: #4b5965;
  color: white;
  padding: 10px 20px;
}

#header-img {
  width: 5rem;
  height: 5rem;
}

.header-wrap {
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  gap: 80%;
  width: 100vw;
  height: 8%;
  background-color: #4b5965;
  color: white;
}

nav {
  margin-top: 4%;
  display: flex;
  flex-direction: row;
  gap: 8%;
  margin-bottom: 2%;
  width: 30rem;
  justify-content: center;
  font-weight: bold;
}

nav a {
  text-decoration: none;
  color: #4b5965;
  background-color: #e0e0e0;
  padding: 10px 20px;
  border-radius: 5px;
}

nav a:hover {
  background-color: #4b5965;
  color: white;
}

.login-wrap {
  border: solid 1px #eee;
  box-shadow: 0 0 3px #eee;
  display: flex;
  flex-direction: column;
  background-color: #cd1039;
  align-items: center;
  width: 30rem;
  margin-bottom: 5%;
  padding: 1rem;
  z-index: 1;
}
form {
  gap: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
p {
  margin-bottom: 1rem;
}
.content-wrap {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-head {
  width: 17.6875rem;
  height: 2.0625rem;
  text-align: center;
  font-size: 1.5rem;
  border-bottom: solid 1px #eee;
  margin-bottom: 1rem;
  color: white;
}
input {
  width: 25rem;
  height: 2rem;
  border: solid 2px #eee;
}
.login-img {
  height: 2.125rem;
  width: 2.125em;
  border-top: solid 2px #eee;
  border-bottom: solid 2px #eee;
  border-left: solid 2px #eee;
}

.input-wrap {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 0.8rem;
}
.input-wrap2 {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: white;
  justify-content: center;
  font-size: 0.8rem;
}

#submit {
  width: 4rem;
  height: 2rem;
  background-color: #4b5965;
  color: white;
  border: none;
  text-align: center;
}

.user-add {
  color: white;
  display: flex;
  flex-direction: column;
}
img {
  width: 5rem;
  height: 5rem;
  z-index: 5;
  position: relative;
  left: 5;
}
#header-img {
  width: 5rem;
  height: 5rem;
}

footer {
  width: 100%;
  height: 30rem;
  background-color: #4b5965;
  color: white;
  padding: 10px 20px;
  font-size: 0.75rem;
  text-align: center;
}
.menu > a {
  color: white; /* 링크 색상을 흰색으로 설정 */
  text-decoration: none; /* 링크 밑줄 제거 */
  font-size: 0.8rem;
}
.menu {
}
/* .pass {
  width: 11.8rem;
  height: 2rem;
  border: solid 2px #eee;
} */
#Login_pw {
  width: 11.8rem;
  height: 2rem;
  border: solid 2px #eee;
}
#Login_pw_confirm {
  width: 11.8rem;
  height: 2rem;
  border: solid 2px #eee;
}
.pass-wrap {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
}
