body {
  width: 100vw;
  overflow-x: hidden;
}
header {
}
#header-img {
  width: 5rem;
  height: 5rem;
}
p {
  margin-bottom: 1rem;
}
.header-wrap {
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  gap: 80%;
  width: 100%;
  height: 8%;
  background-color: #4b5965;
  color: white;
}
.loginlink {
  color: white; /* 링크 색상을 흰색으로 설정 */
  text-decoration: none; /* 링크 밑줄 제거 */
}

nav {
  margin-top: 4%;
  display: flex;
  flex-direction: row;
  gap: 8%;
  margin-bottom: 2%;
  width: 30rem;
  justify-content: center;
}
footer {
  width: 100%;
  height: 15%;
  position: absolute;
  bottom: 0;
  background-color: #4b5965;
  color: white;
  padding: 0.7%;
  font-size: 0.5rem;
}
.content-wrap {
  width: 100%;
  height: 64vh;
  display: flex;
  flex-direction: column;
  padding: 1%;
  align-items: center;
}
.main-logo {
  width: 14rem; /* 로고의 너비 (200px) */
  height: 6.25rem; /* 로고의 높이 (100px) */
  background-color: #cd1039; /* 배경색 */
  color: #fff; /* 텍스트 색상 */
  font-size: 1.5rem; /* 텍스트 크기 (24px) */
  font-weight: bold; /* 텍스트 굵기 */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.625rem; /* 로고의 모서리를 둥글게 만듭니다 (10px) */
  padding: 1rem;
}
